/* Navbar styles */
#navbar {
  margin-bottom: 50px;
}

#brand {
  margin-left: 5px;
}

/* Form styles */
.form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#form {
  text-align: center; /* Center align form elements */
}

#label {
  margin: 4% 0;
}

#recordButton {
  margin-top: 10px;
  width: 100%;
}

#recordingMessage {
  margin-top: 10px;
  text-align: center; /* Center align recording message */
}

/* Patient Records styles */
#patientRecordsTitle {
  margin-top: 20px;
  color: #1E3B6F;
  text-align: center; /* Center align patient records title */
}

#patientRecordsList {
  list-style-type: none;
  padding: 0;
  text-align: center; /* Center align patient records list */
}

#patientRecordsList li {
  margin-bottom: 10px;
}

/* Animation */
@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

/* Styles for left half of the screen */
.leftHalf {
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

/* Beautiful styles for the title */
#recordTitle {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #009dff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

/* Hover animation for the title */
#recordTitle:hover {
  background-color: #009dff;
  animation: bounce 0.5s infinite;
}

.patient-record-container {
  box-shadow: 0 0  10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 10px;
  width: 70%;
  margin-left: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: antiquewhite;
  max-height: 100%;
}

.patient-record {
  display: flex;
  margin: 20px;
  border: #1E3B6F 3px solid;
  border-radius: 10px;
}

.patient-details-btn {
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #009dff;
  color: white;
  cursor: pointer;
}

.patient-details-btn:hover {
  background-color: #136391;
}

.logout-btn {
  margin: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-left: 90%;
  background-color: #009dff;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: large;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #136391;
}